# Environment variables for IoT credentials
# Set these before running Makefile or update scripts
export IOT_USERNAME="iot-user"
export IOT_PASSWORD="$(aws secretsmanager get-secret-value --secret-id cms-dev-msk-iot-user-credentials --query SecretString --output text | jq -r .password)"
